
.block-library-half-media__resizer {
	grid-area: half-media-media;
	align-self: center;
}

.wp-block-half-media .editor-inner-blocks {
	word-break: break-word;
	grid-area: half-media-content;
	text-align: initial;
}

.block-library-half-media__resize-handler {
	display: none;
	border-radius: 50%;
	border: 2px solid $white;
	width: 16px !important;
	height: 16px !important;
	position: absolute;
	background: theme(primary);
	top: calc(50% - 9px) !important;
}

.editor-block-list__block.is-selected .block-library-half-media__resize-handler {
	display: block;
}

.wp-block-half-media > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
	max-width: unset;
}

figure.block-library-half-media__media-container {
	margin: 0;
	height: 100%;
	width: 100%;
}

.block-library-half-media__media-container img,
.block-library-half-media__media-container video {
	margin-bottom: -10px;
	width: 100%;
}
